AssetBundles
AssetBundlesMobile
Temp_AssetBundles
obj
Library
WebPlayer
MacBuild
IOSBuild
PCBuild
*.pidb
*.unityproj
*.csproj
*.userprefs
*.sln
*.suo
/*.rar
Temp
/*.DotSettings
*.csproj.user
StreamingAssets
testSample